.pruebauno{
	position: sticky;
	background-image: url("imagenes/background_1.jpg");
	height: 200px;
	width: 50%;
}

.pruebauno h1 {
	position: absolute;
	color: white;
}

.pruebados {
	position: sticky;
	background-image: url("imagenes/falta_uno.jpg");
	height: 200px;
	width: 50%;
}

.pruebatres {
	position: sticky;
	background-image: url("imagenes/partido_vs_2.jpg");
	height: 200px;
	width: 50%;
}